$background-color-button: #495161;

@mixin bf-fundo-principal-bf {
    background: cornflowerblue;
}
@mixin bf-button-container-bf {
    width: 90%;
    margin: 0 auto;
}

@mixin bf-button-basic-bf {
    display: block;
    height: 80px;
    border: none;
    color: #fff;
    font-size: 2.5em;
    text-align: center;
    background: $background-color-button;
}

@mixin bf-button-style-bf {
    @include bf-button-basic-bf;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-out, margin-top 0.3s ease-out, margin-left 0.3s ease-out;
    width: 100%;

    &:hover {
        box-shadow: 10px 10px 5px 0px rgba(40, 44, 52, 1);
        margin-left: -10px;
    }

    a {
        display: block;
        height: 100%;
    }
}

@mixin a {
    color: #fff;
    text-decoration: none;
}

@mixin logo-bf {
    margin-bottom: 30px;

    .logo {
        margin: 0 auto;
        width: 150px;

        background-image: url("bubble-finder-logo.png");
        background-repeat: no-repeat;
        background-size: 150px 150px;
        height: 150px;
    }

    .name {
        font-size: 1.3em;
        text-align: center;
        margin-top: 10px;
        span {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            line-height: 1.8em;
            margin: 2px;
        }

        & > div:first-child > span:nth-child(1) {
            background-color: #66aa00;
        }
        & > div:first-child > span:nth-child(2) {
            background-color: #b82e2e;
        }
        & > div:first-child > span:nth-child(3) {
            background-color: #316395;
        }
        & > div:first-child > span:nth-child(4) {
            background-color: #994499;
        }
        & > div:first-child > span:nth-child(5) {
            background-color: #22aa99;
        }
        & > div:first-child > span:nth-child(6) {
            background-color: #aaaa11;
        }
        & > div:nth-child(2) > span:nth-child(1) {
            background-color: #6633cc;
        }
        & > div:nth-child(2) > span:nth-child(2) {
            background-color: #e67300;
        }
        & > div:nth-child(2) > span:nth-child(3) {
            background-color: #3366cc;
        }
        & > div:nth-child(2) > span:nth-child(4) {
            background-color: #dc3912;
        }
        & > div:nth-child(2) > span:nth-child(5) {
            background-color: #ff9900;
        }
        & > div:nth-child(2) > span:nth-child(6) {
            background-color: #109618;
        }
    }
}

.bubble-finder {
    @include bf-fundo-principal-bf;

    a {
        @include a;
    }

    .button-container {
        @include bf-button-container-bf;
        a,
        button {
            @include bf-button-style-bf;
        }
    }

    .form {
        width: 90%;
        margin: 0 auto;
        .campo {
            display: grid;
            grid-template-columns: 30% auto;
            column-gap: 20px;
            margin-bottom: 20px;

            label {
                align-self: center;
                color: #262a33;
                font-weight: bold;
            }
            button {
                @include bf-button-basic-bf;
            }
            select {
                appearance: none;
                @include bf-button-basic-bf;
            }
        }
    }

    // SCREEN MAIN MENU
    .container-main-menu {
        .bubble-finder-header-logo {
            place-self: center;

            @include logo-bf;
        }

        ul {
            li {
                @include bf-button-style-bf;
            }
        }
    }

    // SCREEN LEVEL
    .container-level {
        .sub-header-level {
            color: #fff;
            font-size: 20px;
        }

        .cell {
            background: gray;

            .bubble {
                &.cell-number-0 {
                    background-color: #66aa00;
                }
                &.cell-number-1 {
                    background-color: #B82E2E;
                }
                &.cell-number-2 {
                    background-color: #316395;
                }
                &.cell-number-3 {
                    background-color: #994499;
                }
                &.cell-number-4 {
                    background-color: #22AA99;
                }
                &.cell-number-5 {
                    background-color: #AAAA11;
                }
                &.cell-number-6 {
                    background-color: #6633CC;
                }
                &.cell-number-7 {
                    background-color: #3366CC;
                }
                &.cell-number-8 {
                    background-color: #DC3912;
                }
                &.cell-number-9 {
                    background-color: #FF9900;
                }
                &.cell-number-10 {
                    background-color: #109618;
                }
                &.cell-number-11 {
                    background-color: #990099;
                }
                &.cell-number-12 {
                    background-color: #3B3EAC;
                }
                &.cell-number-13 {
                    background-color: #0099C6;
                }
                &.cell-number-14 {
                    background-color: #DD4477;
                }
                &.cell-number-15 {
                    background-color: #8B0707;
                }
                &.cell-number-16 {
                    background-color: #329262;
                }
                &.cell-number-17 {
                    background-color: #5574A6;
                }
                &.cell-number-18 {
                    background-color: #3B3EAC;
                }
                &.cell-number-19 {
                    background-color: #E67300;
                }
                
            }
        }
    }

    // SCREEN LEVEL SELECTION
    .container-level-selection {
        .level-selection {
            a {
                background-color: lightgrey;
                font-size: 32px;
                justify-content: center;
                text-decoration: none;
                color: blue;

                &.cell_disabled {
                    background-color: gray;
                    color: lightgray;
                }
            }
        }
    }
}

.bubble-finder-modal-overlay {
    background-color: rgba(198, 198, 198, 0.7);

    .bubble-finder-modal.Modal {
        @include bf-fundo-principal-bf;

        .bubble-finder-header-logo {
            margin: 0;
            align-self: center;
        }

        ul {
            width: 100%;
            align-self: center;

            @include bf-button-container-bf;
            li {
                @include bf-button-style-bf;

                a {
                    @include a;
                }
            }
        }
    }
}
