.container {
    display: inline-grid;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    transition: transform 0.4s;
}

.cell {
    background: gray;
    padding: 5px
}

.cell.cell_clicked{
    /* background: green; */
    background: transparent;
}

.cell.cell_clicked .bubble{
    display:block;
}

.cell.cell_disabled{
    visibility: hidden;
}

.cell .bubble{
    display:none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}