.container {
    display: inline-grid;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    transition: transform 0.4s;
}

.cell {
    background: gray;
    padding: 5px;
    .bubble {
        display: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    &.cell_clicked {
        background: transparent;
        .bubble {
            display: block;
        }
    }
    &.cell_disabled {
        visibility: hidden;
    }
}
