.container-level-selection {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 120px);

    column-gap: 15px;
    row-gap: 15px;

    max-width: 500px;
    margin: 0 auto;

    a {
        background-color: lightgrey;
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: blue;

        &.cell_disabled {
            background-color: gray;
            color: lightgray;
        }
    }
}
