@import "../../configs/index.scss";

.sub-header-level {
    display: inline-grid;

    grid-template-columns: 100px 100px 140px 100px;
    column-gap: 10px;
    color: #fff;
    font-size: 20px;
    align-items: center;
    justify-items: center;
}

.App {
    .button-container{
        @include button-container;
        button, a {
            @include button-style;
        }
    }
}
