.bubble-finder-header-logo {
    margin-top: 100px;
    margin-bottom: 30px;

    .logo {
        margin: 0 auto;
        width: 150px;

        img {
            width: 150px;
            height: 150px;
        }
    }

    .name {
        font-size: 1.3em;
        text-align: center;
        span {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            line-height: 1.8em;
            margin: 2px;
        }

        & > div:first-child > span:nth-child(1) {
            background-color: #66aa00;
        }
        & > div:first-child > span:nth-child(2) {
            background-color: #b82e2e;
        }
        & > div:first-child > span:nth-child(3) {
            background-color: #316395;
        }
        & > div:first-child > span:nth-child(4) {
            background-color: #994499;
        }
        & > div:first-child > span:nth-child(5) {
            background-color: #22aa99;
        }
        & > div:first-child > span:nth-child(6) {
            background-color: #aaaa11;
        }
        & > div:nth-child(2) > span:nth-child(1) {
            background-color: #6633cc;
        }
        & > div:nth-child(2) > span:nth-child(2) {
            background-color: #e67300;
        }
        & > div:nth-child(2) > span:nth-child(3) {
            background-color: #3366cc;
        }
        & > div:nth-child(2) > span:nth-child(4) {
            background-color: #dc3912;
        }
        & > div:nth-child(2) > span:nth-child(5) {
            background-color: #ff9900;
        }
        & > div:nth-child(2) > span:nth-child(6) {
            background-color: #109618;
        }
    }
}
