@import "./bubble-finder/bubble-finder.scss";
@import "./mario-world/mario-world.scss";

body {
    background-color: #009ddb;
}
#root {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    & > div {
        position: relative;
        height: 100%;
        max-width: 720px;
        max-height: 930px;
        margin: auto;
    }
}

.ModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .Modal {
        max-width: 680px;
        max-height: 900px;
        margin: 0 auto;

        &.ModalOptions {
            & > div:first-child {
                display: grid;
                grid-template-rows: 1fr 1fr;
                height: 100%;

                & > div {
                    align-self: center;
                    text-align: center;
                }
            }
            display: grid;
            grid-template-rows: 75% auto;
            grid-template-columns: 1fr;
        }
        position: absolute;
        top: 40px;
        left: 40px;
        right: 40px;
        bottom: 40px;

        ul {
            padding: 0;
            list-style: none;
        }
    }
}
