@import "./bubble-finder/bubble-finder.scss";

#root > div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .Modal {
        position: absolute;
        top: 40px;
        left: 40px;
        right: 40px;
        bottom: 40px;

        ul {
            padding: 0;
            list-style: none;

            li {
                
            }
        }
    }
}
