.container-main-menu{
    ul{
        list-style: none;
        margin: 80px auto 0 auto;
        padding: 0;
        width: 80%;

        li{
            height: 80px;
            background: #495161;
            margin-bottom: 20px;
            box-shadow: 10px 10px 5px 0px rgba(40,44,52,1);

            a{
                display: block;
                color: #FFF;
                text-decoration: none;
                font-size: 2.5em;
            }
        }
    }

    .bubble-finder-header-logo{
        margin-top: 100px;
        .logo{
            img{
                width: 150px;
                height: 150px;
            }
        }

        .name{
            font-size: 1.3em;
            span{
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                line-height: 1.8em;
                margin: 2px;
            }

            &>span:nth-child(1){
                background-color: #66AA00;
            }
            &>span:nth-child(2){
                background-color: #B82E2E;
            }
            &>span:nth-child(3){
                background-color: #316395;
            }
            &>span:nth-child(4){
                background-color: #994499;
            }
            &>span:nth-child(5){
                background-color: #22AA99;
            }
            &>span:nth-child(6){
                background-color: #AAAA11;
            }
            &>span:nth-child(7){
                background-color: #6633CC;
            }
            &>span:nth-child(8){
                background-color: #E67300;
            }
            &>span:nth-child(9){
                background-color: #3366CC;
            }
            &>span:nth-child(10){
                background-color: #DC3912;
            }
            &>span:nth-child(11){
                background-color: #FF9900;
            }
            &>span:nth-child(12){
                background-color: #109618;
            }
        }
    }
}